language: cpp

notifications:
  email:
    recipients:
      - grafikrobot@gmail.com
  irc:
    channels:
      - "chat.freenode.net#boost"
    template:
      - "%{repository}/%{branch} (%{commit} - %{author}): %{build_url}: %{message}"

env:
  matrix:
    - TRAVIS_EMPTY_JOB_WORKAROUND=true

os: linux

matrix:
  exclude:
    - env: TRAVIS_EMPTY_JOB_WORKAROUND=true
  include:
    - env: TOOLSET=clang-3.4
    - env: TOOLSET=clang-3.5
    - env: TOOLSET=clang-3.6
    - env: TOOLSET=gcc-4.7
    - env: TOOLSET=gcc-4.8
    - env: TOOLSET=gcc-4.9
    - env: TOOLSET=gcc-5.1
    - os: osx
      env: TOOLSET=xcode-6.1

before_install: wget "https://raw.githubusercontent.com/boostorg/regression/develop/ci/src/script.py"
install: python script.py install
before_script: python script.py before_script
script: python script.py script
after_success: python script.py after_success
after_failure: python script.py after_failure
after_script: python script.py after_script
